@font-face {
    font-family:"KG No Regrets Sketch";
    src: url("KGNoRegretsSketch.ttf");
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(../images/forest-931706.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

html {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

/*  -----   -----   ----
Nav
-----   -----   ---- */

nav {
    position: fixed;
    top:0; left:0;
    width:100vw;
    height:auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "Aileron","Arial",sans-serif;
    font-weight: 300;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color:white;
    font-weight: 500;
}   nav ul li a:hover {font-weight:700;}


nav ul li a img {
    margin-top:10px;
    position : absolute;
    left:0; top:0;
    height: 75%;
}

/*  -----   -----   ----
Fin Nav
-----   -----   ---- */


/*  -----   -----   ----
Formulaire
----    ----    ----    */
.text-center h3 {
    font-family:"KG No Regrets Sketch",cursive;
}

.carnetimg {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}

.carnetimg img {
    height: 80vh;
    width: auto;
    position: relative;
}

.center-crea-hist {
    background-image: url(../images/148.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 123vh;
    left: 35%;
    right: 35%;
    padding-left:3%;
    
}

.center-crea-hist form {
    margin-left: 18%;
    height: 75vh;
    font-family: "aileron","arial",sans-serif;
    margin-top:56px;
    font-size: 1.1em;
    line-height: 1.95;
    text-align: left;
}

.center-crea-hist textarea, #input-titre input, #select-genre select  {
    width: 80%;
    margin-left: 10px;
    border-bottom: none;
    border-right: none;
    border-top:none;
    border-left:3px solid #555555;
    padding-left: 10px;
    background-color: #e9eff0;
}

#input-photo input, #input-submit  {
    background-color: #e9eff0;
    border-bottom: 3px solid #555555;
    border-right: none;
    border-top:none;
    border-left: none;
}

#input-submit { text-align: center; margin-right: auto; margin-left: auto;}


#label-titre, #input-titre, #label-photo, #input-photo, #label-genre, #select-genre {
    display: inline-block;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

/*  -----   ----   ----
Fin Formulaire
----    ----   ----    */
#main {
    margin-top: 70px;
}

.histoires p {
    font-size: 40px;
    font-family:"KG No Regrets Sketch",cursive;
    text-align: center;
    color: white;
    margin-right: 10%;
    margin-left: 10%;    
}

.histoires ul {
    list-style:none;
    left: 50%;
    text-align: center;
}

.histoires li {
    margin: 40px;
}

.histoires a {
    text-decoration: none;
    color: white;
    font-family:"KG No Regrets Sketch",cursive;
    border: 4px solid white;
    border-radius: 30px;
    font-size: 20px;
    padding: 10px; 
}

.histoires a:active {
    color: black;
}

.rectangle {
    font-family:"Aileron","arial",sans-serif;
    text-align: center;

}

.rectangle-image{
    width: 80%;
    height: 400px;
}

.rectange-image img {
    clip:rect(0,0,10px,20px);
}

.rectangle h3 {
    font-size: 30px;
}

.pouce {
    height: 15px;
    width: auto;
}

#grid-main{
    display: grid;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.main-fille {
    background-color: rgba(255,255,255,0.3);
    border: 6px solid white;
    border-radius: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.image-histoire {
    width:90%;
    height:250px;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.parti {
    margin-top : auto;
    background: white;
    padding: 10px;
    border-top-left-radius: none;
    border-top-right-radius: none;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top:none;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.parti a:active {
    color: black;
}

.parti a {
    text-decoration: none;
    font-family:"Aileron","arial",sans-serif;
    font-size: 20px;
    padding: 8px;
    padding-left: 20px; 
    color: black;
}

.avis {
    float: right;
}
#affichage-histoire {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

#affichage-histoire h1 {
    font-size:3rem;
    font-family:"KG No Regrets Sketch",cursive;
    text-align: center;
    color: white;
    margin:0;
}

#affichage-histoire h2 {
    font-size:2.5rem;
    font-family:"KG No Regrets Sketch",cursive;
    text-align: center;
    color: white;
    margin:0;
}

#affichage-histoire h3 {
    font-size:2rem;
    font-family:"KG No Regrets Sketch",cursive;
    text-align: center;
    color: white;
    margin:0;
}

#affichage-histoire p {
    font-size:1.4rem;
    font-family:"Aileron",sans-serif;
    text-align: center;
    color: white;
    margin:0;
}

#affichage-histoire div {
    width:50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.affichage-histoire-image {
    width:90%;
    height:250px;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
    
#affichage-histoire div a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 1.6rem;
    font-family: "Aileron",sans-serif;
    font-weight: bold;
}

.progress-a {
    font-size: 0.8rem !important;
}

#affichage-histoire div b {
    color:white;
}

/*  -----   -----   -----
Selects
-----   -----   -----*/

#titre-select{
    color:white;
    display : inline-block;
}
#genres, #auteurs{
    display :inline-block;
    margin-bottom:2vw;

}

select {
    border :black;
    border-radius : 5px;
}
#separation{
    display: inline-block;
    margin-left:3vw;
    margin-right: 3vw;
    color :white;
}

#genres{
    margin-left :10%;
}
/*   -----  -----  -----
Fin de selects
-----  -----  ---- */





@media screen and (max-width: 768px) {
    /*
    .center-crea-hist {
    background-image: none;
    width: 90%;
}

    section {
    background-color: white;
    width: 100%;
    height: auto;
    top: 10px;
    border-radius: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 30px;
    padding-bottom: 10px;

}

    .valider {
    text-align: center;
    background-color:white;
    width: 100%;
    height: auto;
    top: 10px;
    border-radius: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 30px;
}

    #input-submit {
    border-bottom: none;
    padding: 20px;
    font-size: 20px;
}

    .text-center h3 {
    font-family:"KG No Regrets Sketch",cursive;
    font-size: 40px;
    padding-top: 25px;
    margin-bottom: -2px;
    text-align: center;
    line-height: 1.6;
}

    #input-photo input, #input-submit  {
    background-color: white;
}

    .center-crea-hist textarea, #input-titre input, #select-genre select  {
    background-color: white;
}
    */


    nav {
        z-index:10;
    }

    .conteneur-crea-hist { position: absolute;
        top: 50%;
        transform: translateY()}
    .conteneur-crea-hist .carnetimg { }
    .conteneur-crea-hist .carnetimg .center-crea-hist { 
        width:90%;
        background-image: none;
        position:relative;
        margin-left: auto;
        margin-right: auto;
        left:auto; right: auto;    
        background-color:white;
        border-radius: 25px;
    }
    .conteneur-crea-hist .carnetimg .center-crea-hist form {
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 5%;
        height: auto;
        max-height: 90vh;
        min-height: auto;
        margin-top:inherit;
        text-align: center;
        padding-bottom: 20px;
    }
    .conteneur-crea-hist .carnetimg .center-crea-hist .text-center h3 {
        margin:0;
        margin-bottom:15px;
    }
    .conteneur-crea-hist .carnetimg .center-crea-hist form input {
        width: 100%;
    }
    .conteneur-crea-hist .carnetimg .center-crea-hist form .form-control  {
        height:30px;

    }
    .conteneur-crea-hist .carnetimg .center-crea-hist form .form-control input {
        height:100%;
        padding:10px;
    }
    .conteneur-crea-hist .carnetimg .center-crea-hist form #input-submit {
        height:30px;
        font-weight: bold;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    #affichage-histoire {
        background-color: rgba(0,0,0,0.5);
        padding-top: 20px;
        padding-bottom: 20px;
        width: auto;
        transition-property: background-color ;
        transition-duration: 4s;
    }

    .histoires {
        padding-top:10px;
    }
    .histoires p {
        font-size:2rem;
    }
    .histoires ul li {
        margin:100px;
    }
    .histoires ul li a {
        padding:25px;
    }
    #grid-main{
        display: block;
    }
    .main-fille {
        background-color:rgba(255,255,255,1);
        margin-bottom:50px;
    }
    .main-fille .rectangle h3 {
        margin: 5px;;
        font-size: 2rem;
    }
    .main-fille .rectangle p {
        margin: 10px;;
        font-size: 1.5rem;
    }
    .image-histoire{
        width:80%;
        height:200px;
    }
    .parti a {
        font-weight: bold;
    }
}
